@font-face
{
    font-family: open-sans;
    font-style: normal; font-weight: normal;
	src: url("../fonts/open-sans.ttf") format("truetype");
}

:root
{
    font-family: open-sans, sans-serif;
}

@font-face
{
    font-family: goldfish;
    font-style: normal; font-weight: normal;
	src: url("../fonts/goldfish.ttf") format("truetype");
}
